

.header_wrapper {
    display: table;
    width: 100%;
}


.Logo-wrapper {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
}

.logo {
    display:inline-block;
    vertical-align: middle;
    padding:25px 28px 26px 25px;
    float: none;
}

.Social {
    text-align: right;
    display: table-cell;
}

.main_header .Social {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.main_header .socials {
    float: none;
    padding: 0 30px 0 0;
}

.main_header nav {
    float: none;
    padding:0 0 0 6px;
    position:relative;
    z-index:101;
    display: table-cell;
    vertical-align: middle;
}

/* Language switcher */

.Language-header {
    float: none !important;
    display: table-cell !important;
    vertical-align: middle;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 0;
}

.Language-header .is-active {
    display: none;
}

.Language-header li {
    display: inline-block;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
}

.Language-header li:before {
    display: none;
}


.Language-header a {
    color: #fff;
    text-transform: uppercase;
    padding: 9px 7px 5px;
    display: block;
    font-weight: bold;
}


.Language-header a:hover {
    font-weight: bold;
}



.mobile_menu_wrapper .Language-header {
    position: relative;
    padding: 0 0 20px 20px;
    top: 0; right: 0;
}

/* Typography */

p {
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    color: #333;
}


.module_content ul li {
    margin: 0 0 20px 20px;
}

.module_content ul li:before {
    margin-left: -16px;
}






.Bottom-info {
    display: table;
    width: 100%;
}


.share_block {
    position: relative;
}

.share_block .share_toggle {
    height: auto;
}

.title_wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px 0 160px;
    float: none;
    line-height: 1;
    cursor: pointer;
}




.title_wrapper .the_title {
    letter-spacing: 1.3px;
    color: #a8abad;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 13px;
}


.title_wrapper .fs_title_main {
    padding-top: 20px;
    padding-bottom: 0;
}

.desc_wrapper {
    color: #a8abad;
    font-size: 13px;
}







.fs_controls_append {
    position: relative;
    font-size: 0.1px;
    line-height: 1;
}

.fs_controls_append a {
    float: none;
    display: inline-block;
    height: 100%;
}



/* Misc */

.fs_gallery_container {
    background: #000;
}


.main_footer {
    clear: both;
}

.show_content .main_header {
    opacity: 0;
}

.port_content .contnt_block {
    height: 100%;
}


.fs_port_item .bottom_box {
    bottom: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}


.fs_port_item:hover .bottom_box {
    bottom: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


.simple-post .blog_post_page .blogpost_title {
    font-size: 35px;
    line-height: 40px;
    padding-left: 0 !important;
}

.featured_items_title h5:before,
.blog_post_preview .blogpost_title:before {
    display: none;
}

.featured_items_title h5 {
    padding-left: 0;
}

/* Filters */


.optionset li,
.optionset li a {
    font-size: 13px;
    line-height: 28px;
}

.optionset li:before {
    font-size: 13px;
    line-height: 18px;
    color: #000;
}


footer.main_footer .copyright {
    font-size: 14px;
    width: 20%;
}

/* RWD */

@media only screen and (max-width: 1250px) {

    .Language-header {
        position: absolute;
        top: 35px;
        right: 20px;
    }

    .Logo-wrapper,
    .main_header nav {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        padding: 0;
    }

    .main_header nav ul.menu > li {
        padding: 0 10px !important;
        margin: 0 !important;
    }

    .main_header nav {
        background-color: #1d1e1f;
    }


    .header_wrapper {
        background-color: #2e3032;
    }

    .desc_wrapper {
        display: none;
    }

    footer.main_footer .copyright {

        width: 26%;
}

}


@media only screen and (max-width: 960px) {

    .fs_controls_append {
        width: 210px;
    }

/* .footer.main_footer .copyright {
        width: 33% !important;
}*/

    .desc_wrapper {
        display: none;
    }

    .share_block {
        position: relative;
    }

    .title_wrapper {
        float: left;
        padding-top: 7px;
    }
    .shareButtons {
        padding-top: 10px !important;
        width: 50% !important;
}
    .socials {
        width: 8% !important;
        padding-top: 10px;
    }

}

@media only screen and (max-width: 760px) {

    .Language-header {
        display: none !important;
    }

    .Language-mobile {
        display: block !important;
    }

    .Logo-wrapper {
        max-width: 300px;
        text-align: left;
        margin: 0;
    }

    .logo {
        padding: 20px !important;
    }


    .menu_toggler {
        background: none !important;
        background-color: #fff;
        cursor: pointer;
        width: 50px !important;
        height: 44px !important;
        top: 15px !important;
        right: 10px !important;
    }


    .menu_toggler span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2px;
        height: 4px;
        width: 50%;
        display: block;
        background: #fff;
        content: '';
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .menu_toggler span:before, .menu_toggler span:after {
        position: absolute;
        height: 4px;
        width: 100%;
        display: block;
        background: #fff;
        content: '';
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .menu_toggler span:before {
        top: -9px;
    }

    .menu_toggler span:after {
        bottom: -9px;
    }

    .menu_toggler.is-open {
        background-color: #656565;
    }

    .menu_toggler.is-open span {
        background-color: transparent;
    }


    .menu_toggler.is-open span:before, .menu_toggler.is-open span:after {
        top: 0;
    }

    .menu_toggler.is-open span:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu_toggler.is-open span:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
        .shareButtons {
        padding-top: 10px !important;
        width: 100% !important;
}

}


@media only screen and (max-width: 370px) {

    .Logo-wrapper {
        max-width: 250px;
    }

    .menu_toggler {
        top: 10px !important;
    }

}

.shareButtons {
    float: left;
    width: 57%;
    text-align: center;
    padding-top: 25px;
}
.fb-like > span {
    vertical-align: baseline !important;
}
